@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body
{
    font-family: Poppins;
}

main
{
    background-color: #efefef;
}
/**** Logo Banner ****/


#header
{
    position: relative;
    height: 200px;
    margin: 0 10px 0;
    /* border: 1px solid black; */
}

#logoBannerImg
{
    position: absolute;
    left: 40px;
    top: 10;
    z-index: 1;
    height: 300px;
}

h1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 2px;
    z-index: 1;
    font-size: 50px;
    font-family: Poppins;
}

#logoBanner
{
    position: absolute;
    height: 50px;
    width: 100%;
    top:50%;
    background-color: #FDF21A;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    border-radius: 5px;
}

@media (max-width:1200px)
{
    #logoBannerImg,#header
    {
        height: 250px;
    }
    h1{
        font-size: 40px;
    }
}


@media (max-width:910px) {
    h1{
        font-size: 36px;
    }
    #logoBannerImg,#header
    {
        height: 200px;
    }
    #logoBanner
    {
        height: 35px;
    }
}
@media (max-width:800px)
{
    #logoBannerImg,#header
    {
        height: 175px;
    }
    h1{
        font-size: 26px;
    }
}

@media (max-width:640px) {
    h1{
        font-size: 20px;
    }
    #logoBannerImg,#header
    {
        height: 75px;
    }
    #logoBanner
    {
        height: 25px;
    }
}

@media (max-width:435px) {
    h1{
        font-size: 12px;
    }
    #logoBannerImg,#header
    {
        height: 50px;
    }
    #logoBanner
    {
        height: 15px;
    }
}

@media (max-width:300px) {
    h1{
        font-size: 10px;
    }
}
/************************* Nav Bar ************************************/

nav
{
    margin-top: 10px;
    height: 50px;
}

nav ul 
{
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
    height: 50px;
}


nav ul li a
{
    font-size: 24px;
    font-family: Poppins;
    font-weight: 500;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    color: black;
}

nav ul li a:hover
{
    border-bottom: 5px solid #FDF21A;
}

@media (max-width:910px)
{
    nav ul li a
    {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width:600px)
{
    nav ul li a
    {
        font-size: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width:400px)
{
    nav ul li a
    {
        font-size: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    nav ul li a:hover
    {
    border-bottom: 3px solid #FDF21A;
    }
}



/************************* Home Content *****************************/

#Home
{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FDF21A;
    justify-content: center;
    align-items: center;
    height: 400px; 
    letter-spacing: 1px;
    border-bottom-left-radius: 35%;
}

#art
{
    margin-left: 50px;
    flex: 2;
    text-align: center;
    /* border: 1px solid black; */
    background-color:whitesmoke;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}

#art:hover
{
    box-shadow: rgba(149, 157, 165, 1) -5px 8px 24px;
}

#art h2
{
    margin-top: 50px;
    margin-bottom: 25px;
}

#art p
{
    font-size: 16px;
    padding-bottom: 15px;
}

#imgBox
{
    margin-right: 50px;
    position: relative;
    height: 90%;
    flex: 1;
    background-color: #FDF21A;
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    border: 0.005px solid black;
}

#imgBox img
{
    position: absolute;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#imgBox:hover
{
    transform: scale(1.1);
}

@media (max-width:910px)
{
    #Home
    {
        flex-direction: column-reverse;
        height: auto; 
    }
    #imgBox
    {
        margin-right: 0px;
    }
    #imgBox img
    {
        height: 300px;
        position: relative;
        left: auto;
        top: auto;
        transform: none;
    }
    #art
    {
        border-radius: 25px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width:600px)
{
    #imgBox img
    {
        height: 200px;
    }
}

@media (max-width:400px)
{
    #imgBox img
    {
        height: 150px;
    }
}

/********************************** Services ***************************************/
#Serv h2
{
    margin-top: 25px;
    text-align: center;
}
#Services
{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #efefef;
    display: flex;
}

.imgServices
{
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10%;
    background-color: #FDF21A;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    text-align: center;
    flex: 1;
}

.imgServices img
{
    background-color: #efefef;
}

.imgServices ul li
{
    margin-left: 45px;
    text-align: start;
    list-style: none;
}
.imgServices h2,p
{
    margin: 10px;
}

.voiture
{
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    border: 10px solid red;
    height: 100px;
    width: 100px;
}

@media (max-width:910px)
{
    #Services
    {
        flex-direction: column;
    }
    .imgServices
    {
        margin-top: 25px;
    }
}


/************************************** About ***********************************/
#About
{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FDF21A;
    justify-content: center;
    align-items: center;
    height: 400px; 
    letter-spacing: 1px;
    border-top-right-radius: 35%;
}

#artAbout
{
    margin-right: 50px;
    flex: 2;
    text-align: center;
    /* border: 1px solid black; */
    background-color: #efefef;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}

#artAbout:hover
{
    box-shadow: rgba(149, 157, 165, 1) -5px 8px 24px;
}

#artAbout h2
{
    margin-top: 50px;
    margin-bottom: 25px;
}

#artAbout p
{
    font-size: 20px;
}

#imgAbout
{
    margin-left: 50px;
    position: relative;
    height: 90%;
    flex: 1;
    background-color: #FDF21A;
    border-top-left-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    /* border: 0.005px solid black; */
}

#imgAbout img
{
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#imgAbout:hover
{
    transform: scale(1.1);
}

@media (max-width:910px)
{
    #About
    {
        flex-direction: column;
        height: auto; 
    }
    #imgAbout
    {
        margin-right: 0px;
    }
    #imgAbout img
    {
        height: 300px;
        position: relative;
        left: auto;
        top: auto;
        transform: none;
    }
    #artAbout
    {
        border-radius: 25px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width:600px)
{
    #imgAbout img
    {
        height: 200px;
    }
}

@media (max-width:400px)
{
    #imgAbout img
    {
        height: 150px;
    }
}

/*************************************** Contact *************************************/
#info
{
    margin-top: 25px;
    text-align: center;
}

#artInfo p
{
    text-align: center;
    font-size: 18px;
    margin: 15px;
}

#Contact
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: bisque; */
}

#info
{
    display: block;
}

.contact
{
    height: 100px;
    width: 500px;
    margin-top: 25px;
    background-color: #FDF21A;
    color: black;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: rgba(149, 157, 165, 0.8) 0px 8px 24px;
}

.contact h3,i,p
{
    font-size: 24px;
    font-weight: 500;
    color: #001F3F;
    margin-top: 5px;
}

.contact i
{
    margin-right: 20px;
}


