@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    /* background-color: #292929; */
    display: grid;
    margin-left: 20px;
    place-items: center;
    max-height: 100vh;
}
.swiper
{
    width: 80%;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0,2);
    border-bottom: 1px solid rgba(255, 255, 255, 0,2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.3);
}

.image__wrapper
{
    width: 100%;
    position: relative;
    padding-top: 56.25% ;
}
.image__wrapper img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

body
{
    font-family: Poppins;
    overflow-x: hidden;
}

#fixedtop
{
    position: fixed;
    text-align: center;
    margin: 20px;
    bottom: 0;
    right: 0;
    font-size: 36px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 10;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 30%);
    border: 2px solid rgba(255, 255, 255, 1);
}

#fixedtop>a>i
{
    color: red;
    text-decoration: none;
}
/**** Logo Banner ****/
#ServiceUrgence 
{
    position: fixed;
    display: none;
    top: 0;
    text-align: center;
    width: 100%;
    padding: 10px;
    z-index: 10;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 30%);
}
#ServiceUrgence.actived{
    display: block;
}
#ServiceUrgence>a
{
    color: red;
    -webkit-text-stroke: 1px white;
    text-decoration: none;
    font-size: 36px;
    font-weight: 900;
}

#ServiceUrgence>a>.fa
{
    font-size: 36px;
    margin-right: 20px;
}
#header
{
    position: relative;
    height: 200px;
    margin: 0 10px 0;
    /* border: 1px solid black; */
}

#logoHeader>img
{
    position: absolute;
    left: 30%;
    height: 70px;
    width: 700px;
    top: 40%;
    z-index: 5;
    transition-duration: 1s;
    transition-delay: 0s;
}
#logoBannerImg
{
    position: absolute;
    left: 40px;
    top: 10;
    z-index: 15;
    height: 300px;
}

h1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-style: bold;
    font-weight: 900;
    letter-spacing: 2px;
    z-index: 1;
    font-size: 50px;
    font-family: Poppins;
    transition-property: font-size;
    transition-duration: 1s;
    transition-delay: 0s;
}

/* span{
    font-family: Poppins;
} */

#logoBanner
{
    position: absolute;
    height: 50px;
    width: 100%;
    top:50%;
    background-color: #f7e114;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    border-radius: 5px;
}

@media (max-width:1200px)
{
    #logoBannerImg,#header
    {
        height: 250px;
    }
    h1{
        font-size: 40px;
    }
    #logoHeader>img
    {
        left: 30%;
        height: 60px;
        width: 600px;
        top: 40%;
    }
}


@media (max-width:910px) {
    h1{
        font-size: 36px;
    }
    #logoBannerImg,#header
    {
        height: 200px;
    }
    #logoBanner
    {
        height: 35px;
    }
    #logoHeader>img
    {
        height: 70px;
        width: 500px;
        top: 30%;
    }
}
@media (max-width:800px)
{
    #logoBannerImg,#header
    {
        height: 175px;
    }
    h1{
        font-size: 26px;
    }
    #logoHeader>img
    {
        height: 70px;
        width: 500px;
        top: 50%;
    }
}

@media (max-width:640px) {
    h1{
        font-size: 20px;
    }
    #header
    {
        margin-top: 70px;
    }
    #logoBannerImg,#header
    {
        height: 125px;
    }
    #logoBanner
    {
        height: 25px;
    }
    #logoHeader>img
    {
        height: 50px;
        width: 350px;
        top: 35%;
        left: 30%;
    }
}

@media (max-width:500px) {
    h1{
        font-size: 12px;
    }
    #logoBannerImg,#header
    {
        height: 75px;
    }
    #logoBanner
    {
        height: 15px;
    }
    #logoBannerImg
    {
        left: 10px;
        top: 10px;
    }
    #logoHeader>img{
        height: 30px;
        width: 300px;
        top: 35%;
        left: 25%;
    }
}

@media (max-width:300px) {
    h1{
        font-size: 10px;
    }
}


/************************* Nav Bar ************************************/

nav
{
    margin-top: 10px;
    height: 50px;
}

nav>ul 
{
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
    height: 50px;
}


nav>ul>li>a
{
    font-size: 24px;
    font-family: Poppins;
    font-weight: 500;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    color: black;
}

nav ul li a:hover
{
    border-bottom: 5px solid #FDF21A;
}

@media (max-width:910px)
{
    nav ul li a
    {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width:600px)
{
    nav ul li a
    {
        font-size: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width:400px)
{
    nav ul li a
    {
        font-size: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    nav ul li a:hover
    {
    border-bottom: 3px solid #FDF21A;
    }
}



/************************* Home Content *****************************/

#Home
{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 25px;
    /* background-color: #FDF21A; */
    margin-bottom: 50px;
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 30%);
    justify-content: center;
    align-items: center;
    height: 400px; 
    letter-spacing: 1px;
    border-bottom-left-radius: 35%;
    box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
}

#art
{
    margin-left: 50px;
    flex: 2;
    text-align: center;
    /* border: 1px solid black; */
    background-color:white;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    transition-duration: 1s;
    transition-delay: 0s;
}

#art:hover
{
    box-shadow: rgba(149, 157, 165, 1) -5px 8px 24px;
}

#art>h2
{
    margin-top: 50px;
    margin-bottom: 25px;
}

#art>p
{
    font-size: 16px;
    padding-bottom: 15px;
}

#imgBox
{
    margin-right: 50px;
    position: relative;
    height: 90%;
    flex: 1;
    /* background-color: #f7e114; */
    background-color: #fbb034;
    background-image: linear-gradient(15deg, #fbb034 0%, #ffdd00 104%);
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    border: 0.005px solid black;
    transition-duration: 1s;
    transition-delay: 0s;
}

#imgBox>img
{
    position: absolute;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#imgBox:hover
{
    transform: scale(1.1);
}

@media (max-width:910px)
{
    #Home
    {
        flex-direction: column-reverse;
        height: auto; 
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #imgBox
    {
        margin-right: 0px;
    }
    #imgBox img
    {
        height: 300px;
        position: relative;
        left: auto;
        top: auto;
        transform: none;
    }
    #art
    {
        border-radius: 25px;
        margin-left: 30px;
        margin-right: 30px;
    }
    #art>p{
        font-size: 16px;
    }
}

@media (max-width:600px)
{
    #imgBox img
    {
        height: 200px;
    }
    #art>p{
        font-size: 14px;
    }
}

@media (max-width:400px)
{
    #imgBox img
    {
        height: 150px;
    }
}

/********************************** Services ***************************************/
#Serv>h2
{
    font-size: 36px;
    margin-top: 25px;
    text-align: center;
}
.Services
{
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 50px;
    /* background-color: #efefef; */
    display: flex;
}


.imgServices
{
    border: 1px solid #e9e9e9;
    margin: 10px;
    padding-bottom: 10px;
    /* border-radius: 10%; */
    /* border-bottom-left-radius: 5%; */
    /* border-bottom-right-radius: 5%; */
    /* background-color: #efefef; */
    /* box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px; */
    box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
    text-align: center;
    flex: 1;
}

.img{
    padding: 10px;
    /* background-color: #f7e114; */
    /* box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.25); */
    background-color: #fbb034;
    background-image: linear-gradient(15deg, #fbb034 0%, #ffdd00 74%);
}



.imgServices>ul>li
{
    font-size: 16px;
    margin-left: 45px;
    text-align: start;
    list-style: none;
}
.imgServices h2,p
{
    margin: 10px;
}

.voiture
{
    font-size: 16px;
    padding: 10px;
    height: 300px;
    width: 300px;
}

@media (max-width:1200px){
    .voiture {
        height: 275px;
        width: 275px;
    }
}

@media (max-width:970px)
{
    .Services
    {
        flex-direction: column;
    }
    .imgServices
    {
        margin-top: 25px;
    }    
    .imgServices>p
    {
        font-size: 14px ;
    }
    .imgServices>ul>li
    {
        text-align: center;
    }
    .voiture {
        height: 250px;
        width: 250px;
    }
}

@media (max-width:610px)
{
    .voiture {
        height: 200px;
        width: 200px;
    }
    .imgServices>ul>li
    {
        font-size: 14px;
    }
}


/************************************** About ***********************************/
#About
{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: #FDF21A; */
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 30%);
    justify-content: center;
    align-items: center;
    height: 400px; 
    letter-spacing: 1px;
    border-top-right-radius: 35%;
    box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
}

#artAbout
{
    margin-right: 50px;
    flex: 2;
    text-align: center;
    /* border: 1px solid black; */
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    transition-duration: 1s;
    transition-delay: 0s;
}

#artAbout:hover
{
    box-shadow: rgba(149, 157, 165, 1) -5px 8px 24px;
}

#artAbout h2
{
    margin-top: 50px;
    margin-bottom: 25px;
}

#artAbout p
{
    font-size: 18px;
}

#imgAbout
{
    margin-left: 50px;
    position: relative;
    height: 90%;
    flex: 1;
    /* background-color: #f7e114; */
    background-color: #fbb034;
    background-image: linear-gradient(115deg, #fbb034 0%, #ffdd00 104%);
    /* border-top-left-radius: 100%; */
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    /* border: 0.005px solid black; */
    transition-duration: 1s;
    transition-delay: 0s;
}

#imgAbout img
{
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#imgAbout:hover
{
    transform: scale(1.1);
}

@media (max-width:910px)
{
    #About
    {
        flex-direction: column;
        height: auto; 
    }
    #imgAbout
    {
        margin-right: 0px;
    }
    #imgAbout img
    {
        height: 350px;
        position: relative;
        left: auto;
        top: auto;
        transform: none;
    }
    #artAbout
    {
        border-radius: 25px;
        margin-left: 30px;
        margin-right: 30px;
    }
    #artAbout>p
    {
        font-size: 16px;
    }
}

@media (max-width:600px)
{
    #imgAbout img
    {
        height: 300px;
    }
    #artAbout>p
    {
        font-size: 14px;
    }
}

@media (max-width:400px)
{
    #imgAbout img
    {
        height: 200px;
    }
}

/*************************************** Contact *************************************/
#info
{
    margin-top: 100px;
    text-align: center;
}

#artInfo p
{
    text-align: center;
    font-size: 18px;
    margin: 15px;
}

#Contact
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: bisque; */
}

#info
{
    display: block;
}

.contact
{
    display: grid;
    height: 130px;
    width: 400px;
    margin-top: 25px;
    /* background-color: #f7e114; */
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 70%);
    color: black;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: rgba(149, 157, 165, 0.8) 0px 8px 24px;
}

.contact>i, .contact>p
{
    font-size: 24px;
    font-weight: 500;
    margin-top: 5px;
}

.contact>h3
{
    font-size: 28px;
    font-weight: 900;
    color: #001F3F;
    margin-top: 5px;
} 

.contact p a
{
    font-family: Poppins;
    color:blue;
    font-weight: 900;
    font-size: 24px;
    text-decoration: none;
}
.contact p a:hover
{
    color: red;
}
.contact p a:hover i
{
    color: red;
    -webkit-text-stroke: 1px white;
    transform: scale(2);
}
.contact i
{
    margin-right: 20px;
}

@media (max-width:910px)
{
    #artInfo>p
    {
        font-size: 16px;
    }
}

@media (max-width:600px)
{
    #artInfo>p
    {
        font-size: 14px;
    }
}



/************************* Footer *************************/

footer
{
    font-size: 16px;
    padding: 20px;
    justify-content: center;
    display: flex;
    /* height: 200px; */
    box-shadow: rgba(149, 157, 165, 0.8) 0px 8px 24px;
    background-color:#21202e;
    color: #64646d;
}

.footer
{
    flex: 1;
}
.footer hr
{
    width: 250px;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 1px;
    border: none;
    color: #64646d;
    background-color: #64646d;
}

.footer ul li 
{
    text-align: start;
    list-style: none;
}

@media (max-width:910px)
{
    footer
    {
        text-align: center;
        flex-direction: column;
    }
    .footer hr
    {
        margin-left: auto;
        margin-right: auto;
    }
    .footer ul li
    {
    text-align: center;
    }
}

/**************** Carousel **********************/

.mainacceuil
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-top: 75px;

}


.main2
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #EFEFEF;
    height: 80%;
    width: 80%;
    margin-bottom: 0;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0,2);
    border-bottom: 1px solid rgba(255, 255, 255, 0,2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.3);
}

.article
{
    position: relative;
    height: 500px;
    width: 100%;
    background: var(--green);
    color: var(--white);
    font-size: 1.2em;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0,2);
    border-bottom: 1px solid rgba(255, 255, 255, 0,2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.3);
    transition-duration: 1s;
    transition-delay: 0s;
}

#h2carou
{
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translateX(-50%);
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 5;
    background-color: rgba(18, 4, 1, 0.8);
    letter-spacing: 1px;
    transition-property: font-size;
    transition-duration: 1s;
    transition-delay: 0s;
}

.image_carou {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.image_carou.active{
    opacity: 1;
}


.article .suivant, .precedent{
    /* font-size: 8rem; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.suivant{
    right: 1%;
    width: 50px;
}

.precedent{
    left: 1%;
}

.fa-arrow-circle-left:before,
.fa-arrow-circle-right:before
{
    font-size: 36px;
    color: #ffdd00;
}


@media (max-width:1250px)
{
    .mainacceuil
    {
        margin-top: 60px;
    }
    #h2carou
    {
        font-size: 18px;
        left: 25%;
    }
}

@media (max-width:910px)
{
    .mainacceuil
    {
        margin-top: 20px;
    }
    #h2carou
    {
        font-size: 16px;
        left: 30%;
    }
    .article
    {
        height: 400px;
    }
}

@media (max-width:600px)
{
    .mainacceuil
    {
        margin-top: 0px;
    }
    #h2carou
    {
        font-size: 10px;
        left: 35%;
    }
    .article
    {
        height: 300px;
    }
}

@media (max-width:400px)
{
    .mainacceuil
    {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    #h2carou
    {
        padding: 0px;
        font-size: 10px;
        left: 40%;
    }
    .article
    {
        height: 200px;
    }
}